<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="DaFGrouppeV3PU" transaction-type="RESOURCE_LOCAL">
    <class>entity.Cource</class>
    <class>entity.CourceContent</class>
    <class>entity.User</class>
    <class>entity.Teacher</class>
    <class>entity.Student</class>
    <class>entity.ClassRoom</class>
    <class>entity.School</class>
    <class>entity.Solution</class>
    <class>entity.Exam</class>
    <class>entity.Question</class>
    <class>entity.Answer</class>
    <class>entity.Company</class>
    <class>entity.Department</class>
    <class>entity.StudentCource</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <shared-cache-mode>ALL</shared-cache-mode>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/daf_grouppe?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="numan"/>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
</persistence>
